@font-face {
	font-family: 'gothic';
	src: url('../font/GOTHICB.TTF');
  font-weight: 700;
  font-style: normal;
}
@font-face {
	font-family: 'gothic';
	src: url('../font/GOTHIC.TTF');
  font-weight: 400;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
}
a,p,ul,li,div{
  font-family: 'Montserrat', sans-serif;
}


ul.navigation {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: end;
  height: 100%;
}
li.list-items{
  list-style: none;
}


a.nav-links {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: 'gothic';
  font-weight: 700;
  letter-spacing: 0.3px;
}
.texxt-wrapper {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1.first-heading {
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
}

h2.second-heading {
  font-size: 74px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

button.nav-links {
  background: linear-gradient(90deg, #FF512F 0%, #F09819 100%);
  box-shadow: inset 0px 0px 1.71901px 3.43802px rgba(162, 68, 68, 0.67);
  border-radius: 23.6364px;
  color: white;
  padding: 8px 23px;
  font-weight: 700;
  letter-spacing: 0.9px;
}
.rect-par {
  background: linear-gradient(270deg, rgba(252, 205, 41, 0) 0.48%, #F53B12 46.65%, rgba(255, 184, 0, 0) 92.35%);
  width: 100%;
  height: 8px;
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 7px;
}
button.Explorebtn {
  background: none;
  border: 1px solid #fff;
  color: white;
  border-radius: 62px;
  padding: 7px 30px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.6);
  border: 1.5px solid #FFFFFF;
  border-radius: 34.6721px;
  color: #6889BB;
  font-weight: 600;
}
header.main-header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
  /* background: linear-gradient(180deg, #8f688494 -9.27%, rgba(0, 0, 0, 0) 99.43%); */
  padding-bottom: 80px;
  z-index: 999;
  padding-left: 155px;
  padding-right: 155px;

}
@media(max-width:767px){
 
h1.first-heading {
  font-size: 13px;

}
h2.second-heading {
  font-size: 16px;
 
}
button.Explorebtn {
 
  margin-top: 7px;
}
header.main-header {
  padding-top: 10px;
  padding-bottom: 50px;
}

.texxt-wrapper {
  top: 100px;
}
}

button.nav-links {
  /* background: linear-gradient(90deg, #FF512F 0%, #F09819 100%); */
  /* box-shadow: inset 0px 0px 1.71901px 3.43802px rgba(162, 68, 68, 0.67); */
  /* border-radius: 23.6364px; */
  /* color: white; */
  padding: 8px 23px;
  font-weight: 700;
  letter-spacing: 0.9px;
  border: none;
  background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
  box-shadow: inset 0px 0px 1.71901px 3.43802px rgba(11, 95, 173, 0.67);
  border-radius: 23.6364px;
  color: #32629A;
  font-family:'gothic';
}
.banner-video {
  width: 100%;
  margin-bottom: -7px;
}

.banner-img{
 width: 100%;
  z-index: -1;
}

#main {
  padding-bottom: 200px;
}
.full-bg {
  background: url(../img/ryu/back1.webp);
  padding-top: 150px;
}

.carb-body {
  background: white;
  color: white;
  margin-top: 24px;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 23px 19px 44px 3px;
  background-image: url(../img/ryu/card-bgg.png);
}

.main-title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  background: url(../img/ryu/main-tit-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline;
  width: auto;
  margin: 0 auto;
  padding: 23px 79px;
  font-family: gothic;
  text-transform: uppercase;
  text-shadow: 0px 2.76423px 2.76423px rgba(0, 0, 0, 0.25);
}
.card-wrapp{
  padding-top: 50px;
}
.with-bg {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.3px;
  padding-right: 6px;
  color: #0BBA07;
  margin: 0;
  font-family: 'gothic';
  font-size: 22px;
}
h4.tit {
  font-size: 22px;
  padding-top: 17px;
  color: black;
  background: url(../img/ryu/reactangle.png);
  background-size: 100% 100%;
  padding: 10px 58px 10px 15px;
  margin-left: 4px;
  margin-top: 0px;
  font-family: 'gothic';
  font-weight: 700;
  margin: 0;
}
.card-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 21px;
}
.buy-btn {

  border: none;
  color: white;
  padding: 6px 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19px;
  background: #26E695;
  box-shadow: 0px 0px 1.60694px 0.803468px rgba(0, 0, 0, 0.25);
  border-radius: 4.01734px;
  font-family: 'gothic';
}
.buy-btn:hover{
  background: #26E695;
}
.buy-btn-wrap {
  text-align: center;
 
}
footer {
  padding-bottom: 200px;
}
a.web-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
img.single-social {
  padding: 0px 10px;
}
.rect-pattern-body {
  background: linear-gradient(180deg, #E76D84 0%, rgba(147, 58, 100, 0) 100%);
  filter: blur(4px);
  height: 250px;
  margin-top: 5px;
  margin-top: -5px;
}

.description-popup {
  background: url(../img/ryu/Description\ Bt.png);
  color: #656565;
  font-size: 54px;
  font-weight: 700;
 
  font-size: 24px;
 
  text-align: center;
  text-transform: uppercase;
}
.popup-wrap {
  background: white;
  /* border: 2.89548px solid #F95353; */
  box-shadow: 0px 0px 10px rgb(0 0 0 / 18%);
  backdrop-filter: blur(2.89548px);
  border-radius: 6.51482px;
}
span.domain-name-span {
  color: #656565;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin-right: 5px;
}
h3.domain-name {
  color: #656565;
  font-size: 15px;
}
.dpu {
 
  border-radius: 4.76304px;
  padding: 20px;
  background: #E8EDEF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4.76304px;
}
p.text {
  color: #656565;

}
.dpu-wrap {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
}
.modal-dialog {
  max-width: 900px !important;

}
/* .modal.show .modal-dialog {
  transform: none;
  height: 80% !important;
  display: flex;
  align-items: center;
} */
.dpu-wrap .dpu:nth-child(2) {
  margin-top: 40px;
}

.desc-wrapp {
  padding-top: 50px;
}
.modal-content {
 
  background-color: transparent !important;
  
}
.mynft-img{
  width: 100%;
}
h2.second-heading.mynfts {
  text-align: center;
}
.texxt-wrapper.mynft-wrap {
  top: 40%;
}


.mynftcard-wrap .buy-btn {
  background: url(../img/ryu/bluebtn.png);
  background-size: 100% 100%;
  border: none;
  color: white;
  padding: 21px 57px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19px;
}

.mynft-pop-wrap .buy-btn {
    background: url(../img/ryu/bluebtn.png);
    background-size: 100% 100%;
    border: none;
    color: white;
    padding: 21px 57px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
  
}

.mynft-pop-wrap .domain-name-span{
  color: #50D5FF;
}

.upload-txt-wrap .first-heading{
text-align: center;
}
.second-back {
  background: url(../img/ryu/back2.jpg);
  min-height: 1000px;
  padding-top: 180px;
  color: white;
}
.uploadnftbg {
  background: #fff;
  border: 2.52521px solid #FFFFFF;
  box-shadow: 0px 0px 3.36694px 2.52521px rgba(0, 0, 0, 0.25);
  border-radius: 21.5783px;
  padding: 140px 280px;
  background: rgba(217, 236, 253, 0.8);
  border: 5px solid #FFFFFF;
  border-radius: 6px;
}

.uploadnft-sect {
  padding: 100px 0px;
  padding-bottom: 210px;
}
.upload-nft-form .col-sm-12 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding-top: 10px;
}
label.upload-nft-label {
  color: #656565;
  font-weight: 600;
  font-size: 23px;
  font-family: 'gothic';
  font-weight: 700;
}
textarea.descriptiontext-area {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
}
.listforsellwrap {
 
  text-align: end;
}
.listforsellbtn {
  /* background: url(../img/ryu/listforsell.png) !important; */
  /* background-size: 100% 100% !important; */
  /* padding: 19px 43px; */
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 35px;
  background: white;
  color: #656565;
}
.listforsellbtn:hover {
  background: white;
  color: #656565;
 
}
input.text-input {
  height: 42px;
  width: 100%;
  border-radius: 7px;
  /* outline: none; */
  /* box-shadow: none; */
  border: none;
}
.row1 {
  padding-bottom: 15px;
  align-items: center;
}
.row2 {
  padding-bottom: 15px;
  align-items: center;
}
.row3 {
  padding-bottom: 15px;
  align-items: center;
}

@media (max-width:768px) {
  .social-wrap {
    display: flex;
    justify-content: center;
}
h3.website-link {
  text-align: center;
  margin-bottom: 20px;
}
img.footerlogo {
 
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.main-title {
  padding: 17px 32px;
  font-size: 25px;
  margin-bottom: 30px;
}
.card-wrapp {
  padding-top: 0px;
}
.carb-body{
  margin-bottom: 20px;
}
.rect-pattern-body {
 
  height: 80px;
 
}
.dpu-wrap {
  max-width: 100%;
  padding: 18px 13px;
  margin-top: 25px;
}
}


@media (max-width:370px) AND (min-width:270px) {
  button.Explorebtn {
   display: none;  
}
}

@media (max-width:1000px) {
  .uploadnftbg {
   
    padding: 20px;
}
}
img.hambg {
  display: none;
 }

@media (max-width:992px) {
  ul.navigation {
    display: none;
}
img.hambg {
  width: 59px;
  position: absolute;
  right: 10px;
  top: 30px;
  display: block;
}
ul#navigation-ham {
  background: black;
  left: 0px;
  right: 0px;
  position: absolute;
  padding: 10px;
  min-height: 154px;
}

.mynftcard-wrap .buy-btn {
  font-size: 14px;
}
.all-list-items {
 
  flex-direction: column;
}

}

.mystyle{
  display: block !important;
}

@media (max-width:1200px) {
  img.single-social {
    padding: 0px 6px;
}
}

@media (max-width:621px) {
  .texxt-wrapper.mynft-wrap {
    top: 100px;
}
header.main-header {
    
  padding-left: 0px !important;
 
}
}

li.list-items {
 
  margin: 0px 10px;
}


@media (max-width:1475px){
  header.main-header {
    
    padding-left: 20px;
    padding-right: 20px;
}
}

.all-list-items {
  display: flex;
  padding-right: 51px;
}

.mycontainer{
  position: relative;
  text-align: center;
}
.explorebtn-wrap {
  text-align: end;
}
li.connect-wallet {
  list-style: none;
}
h3.main-sub-title {
  text-align: center;
  color: white;
  font-family: 'gothic';
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0.8px;
}
button.viewd-btn {
  border: none;
  color: white;
  padding: 6px 26px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19px;
  background: #5ED9EA;
  box-shadow: 0px 0px 1.60694px 0.803468px rgb(0 0 0 / 25%);
  border-radius: 4.01734px;
  font-family: 'gothic';
  margin-left: 16px;
}

@media (min-width:1800px) {
  .card-wrapp .container {
    max-width: 1745px;
  }
}
.card-upper.second {
  padding-top: 80px;
} 
.for-mixing {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 23px 19px 44px 3px;
  background: url(../img/ryu/card-bg.png);
  background-size: cover;
  mix-blend-mode: overlay;
  background-color: white;
}
.dpu.second {
  margin-bottom: 40px;
}


@media (min-width:992px) {
  .carb-body {
    max-width: 400px;
    min-width: 412px;
} 
}

@media (max-width:767px) {
  h4.tit,.with-bg {
    font-size: 18px;
  
}
}

@media (max-width:1800px) {
  .full-bg {
    background: url(../img/ryu/back1.webp);
    padding-top: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}
}


@media (min-width:992px) {
  .main-title {
   
    min-width: 420px;
    text-align: center;
}
}
.texxt-wrapper.mynfts {
  left: 24%;
  text-align: left;
}

.texxt-wrapper.mynfts  .rect-par {
  
  width: 80%;
  
}

@media (max-width:991px) {
  ul#navigation-ham {
   
    min-height: 290px;
    padding-top: 40px;
}
li.list-items {
  margin: 9px 10px;
}
}

@media (max-width:767px) {
  .texxt-wrapper {
    top: 240px;
   
}
}

@media (max-width:767px) {
 
.logo{
  width:80px
}
.explorebtn-wrap {
  text-align: center;
}
}

@media (max-width:555px) {
  .texxt-wrapper {
    top: 140px;
   
}
}

@media (max-width:369px) {
  .texxt-wrapper {
    top: 100px;
   
}
.texxt-wrapper.mynfts{
  top:140px;
}
}
@media (max-width:576px) {
  .dpu-wrap {
   
    margin-top: 0px;
}
.dpu-wrap .dpu:nth-child(2) {
  margin-top: 10px;
}
.dpu.second {
  margin-bottom: 10px;
}
.desc-wrapp {
  padding-top: 20px;
}
.full-bg {
 
  padding-top: 50px;

}
#main {
  padding-bottom: 50px;
}
footer {
  padding-bottom: 50px;
}
.texxt-wrapper.mynfts {
  left: 130px;
  
}
}